---
- include: check_vars.yml

- include: download.yml
  when: redis_install_from_source
  tags:
    - download

- include: dependencies.yml
  when: redis_install_from_source
  tags:
    - install

- include: install.yml
  when: redis_install_from_source
  tags:
    - install

- include: install_from_repo.yml
  when: not redis_install_from_source
  tags:
    - install

- include: server.yml
  when: redis_server
  tags:
    - config

- include: sentinel.yml
  when: redis_sentinel
  tags:
    - config

- include: local_facts.yml
  when: redis_local_facts|bool
