[Unit]
Description=Advanced key-value store
After=network.target
Documentation=http://redis.io/documentation, man:redis-server(1)

[Service]
Type={{ 'forking' if redis_daemonize == 'yes' else 'simple' }}
ExecStart={{ redis_install_dir }}/bin/redis-server /etc/redis/{{ redis_config_file_name }}
#EnvironmentFile=-/etc/default/{{ redis_service_name }}
PIDFile=/run/redis-{{ redis_port }}/redis_{{ redis_port }}.pid
TimeoutStopSec=0
Restart=always
User={{ redis_user }}
Group={{ redis_group }}
RuntimeDirectory=redis-{{ redis_port }}
RuntimeDirectoryMode=2755

{% if redis_oom_score_adjust != 0 %}
OOMScoreAdjust={{ redis_oom_score_adjust }}
{% endif %}

UMask=007
PrivateTmp=yes
LimitNOFILE={{ redis_nofile_limit }}
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWritePaths=-{{ redis_dir }}
ReadWritePaths=-/var/run/redis-{{ redis_port }}
{% if redis_logfile != '""' %}
ReadWritePaths=-{{ redis_logfile|dirname }}
{% endif %}

NoNewPrivileges=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

# redis-server can write to its own config file when in cluster mode so we
# permit writing there by default. If you are not using this feature, it is
# recommended that you replace the following lines with "ProtectSystem=full".
ProtectSystem=true
ReadWriteDirectories=-/etc/redis

[Install]
WantedBy=multi-user.target
