# redis-sentinel {{ redis_version }} volatile configuration file
# sentinel_{{ redis_sentinel_port }}.conf

{% for master in redis_sentinel_monitors -%}
sentinel monitor {{ master.name }} {{ master.host }} {{ master.port }} {{ master.quorum|d('2') }}
{% for option in ('auth_pass', 'down_after_milliseconds', 'parallel_syncs', 'failover_timeout', 'notification_script', 'client_reconfig_script') -%}
{% if master[option] is defined and master[option] -%}
sentinel {{ option|replace('_', '-') }} {{ master.name }} {{ master[option] }}
{% endif %}
{% endfor -%}
{% endfor -%}

include /etc/redis/sentinel_{{ redis_sentinel_port }}.include.conf
