# {{ ansible_managed }}
# Redis may rewrite this file, so most config can be found in the include.
# Those runtime Redis configs will be rewritten below the include, and override
# anything in it.

# If you need to revert to only the static config, remove everything after the
# include in this file.

include /etc/redis/{{ redis_port }}.include.conf
