# redis-sentinel {{ redis_version }} configuration file
# sentinel_{{ redis_sentinel_port }}.conf

daemonize {{ redis_daemonize }}
protected-mode {{ redis_sentinel_protected_mode }}
dir {{ redis_sentinel_dir }}
pidfile {{ redis_sentinel_pidfile }}
port {{ redis_sentinel_port }}
bind {{ redis_sentinel_bind }}

# Security
{% if redis_sentinel_password %}
requirepass {{ redis_sentinel_password }}
{% endif %}

{% for master in redis_sentinel_monitors -%}
sentinel monitor {{ master.name }} {{ master.host }} {{ master.port }} {{ master.quorum|d('2') }}
{% for option in ('auth_pass', 'down_after_milliseconds', 'parallel_syncs', 'failover_timeout', 'notification_script', 'client_reconfig_script') -%}
{% if master[option] is defined and master[option] -%}
sentinel {{ option|replace('_', '-') }} {{ master.name }} {{ master[option] }}
{% endif %}
{% endfor -%}
{% if master['rename_commands'] is defined -%}
{% for command in master['rename_commands'] -%}
sentinel rename-command {{ master.name }} {{ command }}
{% endfor -%}
{% endif -%}
{% endfor -%}

logfile {{ redis_sentinel_logfile }}
syslog-enabled {{ redis_syslog_enabled }}
syslog-ident {{ redis_sentinel_syslog_ident }}
syslog-facility {{ redis_syslog_facility }}
